.container{
    display: flex;
}

.dropable1{
    background-color: blueviolet;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

.dropable2{
    background-color: rgb(62, 226, 177);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

.card{
    padding: 10px;
    margin: 10px;
    background-color: rgb(22, 238, 22);
    border-radius: 5px;
}