<div class="container">

    <div class="dropable1" (dragover)="dragOver(list2)">
        <h1>Lista 1</h1>

        <div *ngFor="let item of list1">
            <div draggable="true" (dragstart)="dragStart(list1,item)"
                (dragend)="dragEnd(this.dragStart(list1,item),this.dragOver(list2),item)" class="card">
                {{item}}
            </div>
        </div>
    </div>

    <div class="dropable2" (dragover)="dragOver(list1)">
        <h1>Lista 2</h1>

        <div *ngFor="let item of list2">
            <div draggable="true" (dragstart)="dragStart(list2,item)"
                (dragend)="dragEnd(this.dragStart(list2,item),this.dragOver(list1),item)" class="card">
                {{item}}
            </div>
        </div>
    </div>

</div>